<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zoom element</title>
    <link rel="stylesheet" href="../zoom.css">
</head>
<body>

<section id="section1" class="active">
    <div class="zoom-in" onclick="zoomIn(this)">
        Clicker pour zoomer
    </div>
    <div onclick="changeView('section2')">
        Clicker pour changer de vue
    </div>
</section>


<section id="section2">
    <div>
        Nouvelle section
    </div>
</section>

<script src="../scripts/zoom.js"></script>
</body>
</html>