:root {
    --top-to-ground-height: 90dvh;
}

.zoom-in {
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transform-origin: center center;
}

.zoomed {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center center;
    transform: translate(-50%, -50%) scale(1.2);
}

body {
    margin: 0;
    height: 100vh;
    width: 100dvw;
    overflow: hidden;
}

section {
    transition: height 3s ease;
}

.active {
    height: 100dvh;
    background-color: grey;
    display: block;
}

section:not(.active) {
    display: none;
}

.background {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.background-image {
    height: 100dvh;
    width: 100dvw;
    object-fit: cover;
    position: absolute;
}

.factory {
    z-index: 5;
    position: relative;
}

.foreground {
    z-index: 1;
}

.parallax img {
    position: absolute;
}

.row1 {
    height: calc(100dvh - var(--top-to-ground-height));
}

